# Сообщаем Git, что эти файлы - текстовые, и он должен автоматически
# управлять окончаниями строк (LF в репозитории).
* text=auto

# Явно указываем, что все shell-скрипты и gradlew ДОЛЖНЫ иметь
# окончания строк в стиле Unix (LF), чтобы они работали в CI/CD.
*.sh      eol=lf
gradlew   eol=lf